/* CSS Reset */

#grid-container{
    background-color: beige;
    font-family: cursive;
    
    
    }
    h1{
        text-align: center;
       align-items: center;
    
       padding-top: 20px;
       border-bottom:solid 10px;
       font-size: xx-large;

    
    }
    .content{
        margin: 3px;
        display: inline-block;
        width: 31%;
        background-color:#e1c699 ;
        border-radius: 1em;   
    }
    .img{
        
        background: url("../img/wes-hicks-6biN3uBw4Fg-unsplash.jpg")  no-repeat center center/cover;
        height: 400px;
       
    }
    .img2 {
        
        float:left;
        background: url("../img/wes-hicks-XpsiJa9iPqY-unsplash.jpg") no-repeat center center/cover;
        height: 600px;
        width: 50%;
    }
    .img2-content{
        background-color: beige;
        float: right;
        width: 50%;
        height: 400px;
        justify-self: center;
    }